<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dilyora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static/img/cinderella.png">

</head>

<body>
    <header class="header">
        <a href="#" class="logo">Dilyora</a>
        <div class="social_media">
            <nav class="pages">
                <a href="#about" aria-label="About">About</a>
            </nav>
            <a href="https://www.linkedin.com/in/dilyorakhon-akramjonova-b6a449219/" target="_blank" aria-label="LinkedIn">
                <img src="{{url_for('static', filename='img/linkedin.svg')}}" alt="LinkedIn Logo">
            </a>
            <a href="https://github.com/dilyoradev" target="_blank" aria-label="GitHub">
                <img src="{{url_for('static', filename='img/github.svg')}}" alt="GitHub Logo">
            </a>
            <a href="https://www.kaggle.com/dilyoradev" target="_blank" aria-label="Kaggle">
                <img src="{{url_for('static', filename='img/kaggle.png')}}" alt="Kaggle Logo">
            </a>
            <a href="https://medium.com/@dilyoradev" target="_blank" aria-label="Telegram">
                <img src="{{url_for('static', filename='img/medium.svg')}}" alt="Medium Logo">
            </a>
            
        </div>
    </header>

    <main>

    {% block body %}{% endblock %}

    </main>
    <footer>
        <p>&copy; 2025 Dilyora. All rights reserved.</p>
        <p>
            <a href="https://www.linkedin.com/in/dilyorakhon-akramjonova-b6a449219/" target="_blank">LinkedIn</a> |
            <a href="https://github.com/dilyoradev" target="_blank">GitHub</a>
        </p>
    </footer>
     
</body>

</html>