{% extends 'base.html' %}

{% block body %}
    <div class="profile_image">
        <img src="static/img/profile_image.png" alt="Profile Image">
        <h1>Dilyorakhon Akramjonova</h1>
        <h3>I build and lead @<a class="gdg" href="https://gdg.community.dev/gdg-on-campus-okayama-university-okayama-japan/" target="_blank">GDGoC Okayama University</a>.</h3>
    </div>
    <section id="about" class="about_content">
                <h2>About Me</h2>
                <p>Hello World! I am Dilyora, a student at Okayama University.<br>My current focus is on building ML models and understanding core AI concepts.
                    <br>I enjoy hands-on learning, building machine learning models and tackling algorithmic problems.🚀
                </p>
    </section>
{% endblock %}
    <footer>
        <p>&copy; 2025 Dilyora. All rights reserved.</p>
        <p>
            <a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn</a> |
            <a href="https://github.com/yourusername" target="_blank">GitHub</a>
        </p>
    </footer>

     
</body>

</html>